/* Main section styles */

/* Intro section styles */

.intro__section{
    margin-top: 115px;



    .intro__wrapper{
        display: flex;
        flex-direction: column;
        gap: 97px;
    }


.intro__to-hydra{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 111px;



    .intro__text{
        display: flex;
        flex-direction: column;
    
        &s{
            display: flex;
        }
    }
    
    
    .intro__title{
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.88px;
        color: $white-text;
    }
    
    .intro__add__title{
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 300;
        line-height: 43.88px;
        color: $white-text;
    }

    .intro__desc p {
        color: $white-text;
    } 
    
    
    .intro__arrow{
        margin-left: -15px;
        margin-top: 20px;
    }
    
}


.intro__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 118px;



    &__img{
        transition: 0.7s ease-in-out;

        &:hover{
            transform: scale(1.1);
            transition: 1s ease-in-out;
        }
    }



    .intro__title{
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.88px;
        color: $white-text;
    }
    
    .intro__add__title{
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 300;
        line-height: 43.88px;
        color: $white-text;
        margin-top: 5px;
    }


    &__desc{
        color: $white-text;
        margin-top: 42px;
    }

    &__btn{
        @include universal__btn;
        margin-top: 28px;
    }


}




}



/* Features section styles */


.features__section{

    
    margin-top: 113px;


    .features__info{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 111px;
    
    
    
        .features__text{
            display: flex;
            flex-direction: column;
        
            &s{
                display: flex;
            }
        }
        
        
        .features__title{
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 700;
            line-height: 43.88px;
            color: $white-text;
        }
        
        .features__add__title{
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 300;
            line-height: 43.88px;
            color: $white-text;
        }
    
        .features__desc  {

            p{
                color: $white-text;
            }
        } 
        
        
        .features__arrow{
            margin-left: 20px;
            margin-top: 20px;
        }
        
    }


    /* Features cards */


    .features__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 23px 35px 40px 25px;
        background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
        border-radius: 40px;



        &s{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 11px;
            justify-content: center;
            align-items: center;
        }


        &__title{
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 700;
            line-height: 29.26px;
            color: $white-text;
            margin-top: 21px;

        }

        &__hr{
            width: 154px;
            border: 1px solid #C0B7E854;
            margin-top: 17.5px;
        }

        &__desc{
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.63px;
            margin-top: 21.5px;
            color: $white-text;
        }

        &__btn{
            margin-top: 35px;
            @include universal__btn;
        }

    }



}

/* Technology section styles */

.technologies__section{
    margin-top: 142px;


    .technologies__wrapper{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .technologies__img{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 40px;
        justify-items: center;
        align-items: center;
    }

    .technologies__title{
        font-size: 36px;
        font-weight: 700;
        line-height: 43.88px;
        color: $white-text;
    }
    
    .technologies__add__title{
        display: block;
        text-align: center;
        font-size: 36px;
        font-weight: 300;
        line-height: 43.88px;
        color: $white-text;
    }
}


/* Join section styles */ 

.joining__section{
    margin-top: 142px;
    


    .joining__wrapper{
        background:  radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
        border-radius: 60px;
        box-shadow: 0px 4px 4px 0px #00000040;  
        padding: 90px 150px 84px 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 65px;



        .joining__intro{
            &__title{
                font-size: 36px;
                font-weight: 700;
                line-height: 43.88px;
                color: $white-text;
                text-align: center;
            }

            &__add-title{
                display: block;
                margin-top: 21px;
                font-size: 36px;
                font-weight: 300;
                line-height: 43.88px;
                color: $white-text;
            }

            &__hr{
                margin-top: 30px;
                width: 100%;
                height: 1px;
                background: linear-gradient(270deg, #343045 0%, #C0B7E8 34.9%, #8176AF 68.75%, #343045 100%);
            }


        }


        .joining__form{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            row-gap: 40px;


            textarea{
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                background: transparent;
                padding: 27px 879px 166px 42px;
                grid-column: span 2;
                color: $white-text;
                outline: none;
                color: $white-text;
            }






            &__input{
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                padding: 27px 404px 28px 42px;
                background: transparent;
                outline: none;
                color:  $white-text;
            }




            &__input:nth-child(5) {
                grid-column: span 2;
              }









              &__btn{
                @include universal__btn;
              }





        }

    }

}


