/* Navbar section styles */

.navbar {
    background-color: var(--hero--bg);
    padding: 10px;
  
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--white--text);
    }
  
    &__list {
      display: flex;
      gap: 42px;
      list-style: none;
  
  
      &-item a {
         text-decoration: none;
         color: var(--white--text);
      }
  
    }
  
    &__btn {
      padding: 17px 38px 16px 34px;
      border-radius: 40px;
      border: 2px solid #FFFFFF;
      background: transparent;
      color: var(--white--text);
  
  
  
      &__container{
          display: flex;
          gap: 38px;
      }
    }
     .join__btn{
      @include universal__btn;
     }
  }