@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background-color: var(--main--bg);
}

.container {
  max-width: 1272px;
  margin: 0 auto;
}
